<div class="hero-unit">
  
<h1>Welcome to MyDocket</h1>
<p>
	You've found the home page for the 
	<%= link_to "One Month Rails", "http://www.onemonthrails.com" %>

</p>

<p>
		<%= link_to "Sign up here", new_user_registration_path, class: "btn btn-primary btn-large"  %>
</p>

</div>


<p>
	ok... bit more about me here: <%= link_to "about.me", "http://about.me/jradig" %>

</p>


